{% extends 'base.html' %}

{% block content %}

<h1>Select Membership Type</h1>
<div class="row">
    {% for object in object_list %}
       <div class="col-sm-4 col-md-4">
           <h2>{{ object.membership_type }}</h2>
           <p>Price: ${{ object.price }} <small>Mothly</small></p>
           <h4>Include Courses</h4>
           <ul>
               {% for course in object.courses_set.all %}
                  {{ course.title }}
               {% endfor %}
           </ul>
           {% if object.membership_type != 'Free' %}
               <form method="post" action="{% url 'membership:select' %}">
                   {% csrf_token %}
                   {% if object.membership_type != current_membership %}
                      <button type="submit" class="btn btn-warning">Select</button>
                   {% else %}
                      <small>This is your current type.</small>
                   {% endif %}
                   <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
               </form>
           {% endif %}
       </div>
    {% endfor %}
</div>

{% endblock %}